.navigate-container{
    width: 180px;
    padding: 10px 0;
}

.navigate-wrap {
    width: 180px;
    position: fixed;
}

.navigate-icon {
    height: 25px;
    width: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navigate-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #E9EBEE;
    cursor: pointer;
}

.navigate-text {
    padding-left: 5px;
}

.navigate-chunk {
    padding: 5px;
    margin-bottom: 15px;
}

.navigate-item:hover {
    background-color: white;
    border: 1px solid lightgray;
}

.navigate-chunk h2 {
    font-weight: bold;    
    margin-bottom: 10px;
    color: #676767;
}

.navigate-chunk h4 {
    font-weight: normal;  
}

.navigate-footer {
    display: flex;
    flex-wrap: wrap;
}

.navigate-footer h3 {
    text-decoration: none;
    margin: 3px;
    font-size: 13px;
    color: #676767;
    cursor: pointer;
}

.navigate-footer a {
    text-decoration: none;}