.paper {
    background-color: white;
    width: 500px;
    margin: 60px auto 40px;
    border-radius: 10px;
    padding: 40px;
    line-height: 20px;
    border: 1px solid lightgray;
}

.paper h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.paper h2 {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 5px;
}

.paper p {
    margin-bottom: 5px;
}