
.directory-box-wrap {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 740px;
    min-height: 600px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.directory-box-wrap h1 {
    font-size: 30px;
    margin-bottom: 20px;    
}

.directory-text {
    margin: 20px 0 10px 0;   
}

#search-directory{
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: 85% 15%;
    /* align-content: center; */
}

#search-icon{
    color: white;
    font-size: 18px;
}

#search-bar-directory {
    height: 100%;
}

#search-directory-button{
    height: 52px;
    margin-top: 5px;
}

#directory-results-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#show-all-button{
    height: 20px !important;
}