.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 400px;
}

.signin{
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
}

.signinTitle{
    position: relative;
    margin-top: 80px;
    font-weight: 300;
    text-align: center;
    font-size: 34px;
}

#bold{
    font-weight: 600;
    font-size: 34px;
}

@media only screen and (max-width: 426px) {
    .container{
        width: 80%;
    }
  }
  
