.main-side {
    width: 300px;
}

.side-wrap {
    width: 140px;
}

.side-icon {
    height: 55px;
    width: 55px;
    background-color: lightgray;
    border-radius: 55px;
}

.side-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.side-text {
    padding-left: 10px;
}

.side-item:hover {
    background-color: white;
}


.side-chunk h2 {
    font-weight: bold;    
    margin-bottom: 5px;
}

.side-chunk h4 {
    font-weight: normal;  
}

.side-text h4 {
    font-weight: bold;
    color: #741D2B;
    margin-bottom: 3px;
}

.react-calendar {
    width: 100%;
}