.body-wrap {
    display: flex;
    margin: 50px auto 0;
    justify-content: center;
}

@media only screen and (max-width: 930px) {
    .main-side-container {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .navigate-container {
        display: none;
    }
}
