.select-artist-container {
    display: flex;
    width: 100%;
}

.select-artist-container .select-artist-column {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 5px;
    margin: 10px;
}

.select-artist-container .select-artist-column .select-artist-card {
    margin: 10px 10px 20px 10px;
    background-color: rgba(0,0,0,.05);
    display: flex;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    margin: 5px;
    padding: 10px;
    border-top: 5px solid #FF4025;
    transition: .5s ease;
}

.select-artist-container .select-artist-column .select-artist-card:hover {
    margin: 40px 5px;
}

.select-artist-container .select-artist-column .select-artist-card:hover { 
    background-color: white;
}

.select-artist-container .select-artist-column .select-artist-card .left {
    padding: 5px;
}

.select-artist-container .select-artist-column .select-artist-card .artist-card-left .artist-card-icon {
    height: 75px; 
    width: 75px;
    background-color: pink;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.select-artist-container .select-artist-column .select-artist-card .left h2 {

}


.select-artist-container .select-artist-column .select-artist-card .left h3 {

}

.select-artist-container .select-artist-column .select-artist-card .artist-card-right {
    margin-left: 10px;
    padding: 5px;
}

.select-artist-container .select-artist-column .select-artist-card .artist-card-right .artist-card-ratings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    border-bottom: 5px;
}

.artist-card-ratings h2 {
    font-size: 12px;
    padding: 5px 10px 5px 0;
}

.select-artist-container .select-artist-column .select-artist-card .artist-card-right .artist-card-description {

}

.select-artist-column h1 {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}


.artist-name h1 {
    margin-left: 0;
}