.feed-item {
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px;
    border: 1px solid lightgray;
    margin: 5px;
}

.feed-item h2 {
    margin-bottom: 10px;
}
.MuiPaper-elevation1-47 {
    box-shadow: 0 0 0 !important;
}