.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 100%;
}

.profileName{
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
    font-weight: 400;
}

.profile{
    text-align: center;
    margin-top: 7px;
    font-size: 32px;
    font-weight: 300;
}

#profileHeader{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    margin-left: 10px;
    font-size: 20px;
}

.profileContent{
    margin: 10px;
    font-size: 20px;
    border-left: 3px solid #F64740 ; 
    transition: 0.2s ease-in-out;
}

.profileContent:hover{
    border-left: 5px solid #F64740;
}

.info{
    margin-left: 10px;
}



@media only screen and (max-width: 426px) {
    .container{
        width: 80%;
    }
  }
  
