.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 100%;
}

.profile{
    font-size: 20px;
}

#profileHeader{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    margin-left: 10px;
    font-size: 20px;
}
/* 
#icon{
    width: 80px;
    height: 80px;
} */

@media only screen and (max-width: 426px) {
    .container{
        width: 80%;
    }
  }
  
