.header {
    background-color: #741D2B;
    display: flex;
    height: 42px;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 2px 3px rgba(0,0,0, 0.3);
}

.header-contents {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-contents .logo {
    align-items: center;
    display: flex;
}

.header-contents h1 a{
    color: white;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: .2s ease-in;
}

.header-items {
    display: flex;
    padding: 0 10px;
    /* width: 216px; */
}

.header-item .header-icon {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: lightgray;
    margin: 3px;
}

.header-item {
    display: flex;
    align-items: center;
}

#search-input{
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 40px;
}

#search-bar{
    height: 100%;
    color: white;
    width: 120px;
    transition: 0.2s ease-in-out;
    padding: 10px 0 5px 5px ;
}

#search-bar:hover{
    background-color: #8D4651;
    border-radius: 2px;
}  

#search-bar:focus{
    width: 200px;
}  

.log-out-button {
    display: flex;
    height: 100%;
    align-items: center;
}

.log-out-button h2 {
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0 0 0 4px;
    border-radius: 5px;
    transition: .2s ease-in;
    font-weight: normal;
    font-size: 5px !important;
    letter-spacing: 1px;
}

.log-out-button > :first-child{
    background-color: #53141E !important;
    padding: 5px 4px 5px 4px !important;
    min-height: 0px !important;
    margin-left: 5px !important;
}

.log-out-button > :first-child:hover {
    background-color: #FF4025 !important;
}

/* .log-out-button .MuiButton-label-2 {
    font-size: 9px !important;
}    */

.log-out-button :first-child:first-child {
    font-size: 9px !important;
}   

.logo h4 {
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.274);
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 8px;
    background-color: #C1321E;
    /* background: radial-gradient(#e66465, rgb(216, 59, 39)); */
    border-radius: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.logo img {
    transform: translateY(9px);
    width: 170px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
}