.header {
    background-color: #741D2B;
    display: flex;
<<<<<<< HEAD
    height: 42px;
=======
    height: 46px;
>>>>>>> 91eda2f9160c826154e6a5fdfc8aed09dba7ac38
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
<<<<<<< HEAD
=======
    box-shadow: 0px 2px 3px rgba(85, 0, 14, 0.5);
>>>>>>> 91eda2f9160c826154e6a5fdfc8aed09dba7ac38
}

.header-contents {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-contents .logo {
    align-items: center;
    display: flex;
}

.header-contents h1 a{
    color: white;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: .2s ease-in;
}

.header-contents h1 a:hover {
    
}

.header-items {
    display: flex;
    padding: 0 10px;
}

.header-item .header-icon {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: lightgray;
    margin: 3px;
}

.header-item {
    display: flex;
    align-items: center;
}

.log-out-button {
    display: flex;
<<<<<<< HEAD
=======
    margin-left: 10px;
>>>>>>> 91eda2f9160c826154e6a5fdfc8aed09dba7ac38
    height: 100%;
    align-items: center;
}

<<<<<<< HEAD
.log-out-button h2 {
    color: white;
    padding: 8px 12px;
    background-color: darkgray;
    cursor: pointer;
    margin: 0 0 0 4px;
    border-radius: 5px;
=======
.log-out-button > :first-child{
    border-radius: 15px;
    padding: 7px 12px;
}

.log-out-button h2 {
    color: white;
    padding: 7px 12px;
    background-color: #C1321E;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 15px;
>>>>>>> 91eda2f9160c826154e6a5fdfc8aed09dba7ac38
    transition: .2s ease-in;
    font-weight: normal;
    font-size: 9px;
    letter-spacing: 1px;
}

.log-out-button h2:hover {
    background-color: #FF4025;
<<<<<<< HEAD
}

.logo h4 {
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px 8px;
    background-color: #C1321E;
    border-radius: 20px;
    margin-left: 5px;
=======
>>>>>>> 91eda2f9160c826154e6a5fdfc8aed09dba7ac38
}