
.body-wrap {
    display: flex;
    margin: 50px auto 0;
    justify-content: center;
    max-width: 1000px;
}


.postgig-box-wrap {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 740px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.postgig-box-wrap h1 {
    font-size: 30px;
    margin-bottom: 20px;    
}

.postgig-box-wrap h2 {
    font-size: 24px;
    margin-top: 20px;    
}

.postgig-box-wrap h3 {
    font-weight: normal;
    font-style: italic;
    margin: 5px 0 0 10px;
}


.small-profile-tile {
    width: 30px;
    height: 30px;
    background-color: lightblue;
    border-radius: 100px;
    margin-right: 10px;
    transition: .5s ease;
    
}

.message-header {
    background-color: white;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 0;
}

.message-header h1 {
    font-size: 30px;
}